
.table {
    width: 100%;
    
    > table {
        table-layout:fixed;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px;
        background: rgba(196, 196, 196, 0.5);
        padding: 30px;
        width: 100%;
        overflow: auto;

        td { overflow: hidden; }

        > thead {
            color: rgba(0, 223, 221, 1);
            
            > tr {
                
                > th {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 43px;
                    padding: 0 24px;
                    border-bottom: 1px solid white;
                }
            }
        }
        > tbody {
            color: white;

            > tr {
                border-radius: 8px;
                
                &:nth-child(2n) {
                    background: rgba(10, 34, 45, 0.7);
                }

                &.empty-row {
                    height: 8px;
                }


                > td, > td > div {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 43px;

                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0px 24px;

                    &:first-child {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }

                    &:last-child {
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                }

                > td {
                    div.centered {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            > .skeleton-row {
                height: 43px;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;

                &:nth-child(2n) {
                    animation-name: skeleton-row-animation-blue;
                }
            }
            
        }
    }

    > .pagination-footer {
        margin-top: 32px;
        display: flex;
        flex-flow: row nowrap;

        > .pagination-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            outline: none;
            color: white;
            border-radius: 99px;
            height: 32px;
            width: 32px;
            font-size: 16px;
            margin-right: 8px;
            
            &:hover {
                border: 1px solid rgba(0, 223, 221, 0.5);
                cursor: pointer;
                &.is-current {
                    cursor: default;
                }
            }
            &.is-current {
                border: 1px solid rgba(0, 223, 221, 1);
            }
        }
    }
}

@keyframes skeleton-row-animation-blue {
    0% {
        background-color: rgba(10, 34, 45, 0.7);
    }
    50% {
        background-color: rgba(10, 34, 45, 0.5);  
    }
    100% {
        background-color: rgba(10, 34, 45, 0.7);
    }
}
