html {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
    padding: 54px 94px;
    background-color: #0A222D;
    overflow: auto;

    > .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 16px;
        
        > .title-container {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            > h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 20px;
                color: rgba(0, 223, 221, 1);
                text-align: center;
            }
        }
    } 

    > .search-input {
        margin-bottom: 32px;
    }
}
